body {
  overflow-y: scroll;
}
.custom-row {
  padding: 0px !important; /* Set a fixed padding for the row */
  margin: 0px !important; /* Set a fixed margin for the row */
}

.home {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 15rem auto; 
  margin-left: auto;
  margin-right: auto;
  max-width: 85rem;
  gap: 1.5rem;
}

.category-section {
  max-width: 20rem;
  grid-column: 1;
  padding-top: 6rem; 
}

.product-section {
  max-width: 65rem;
  padding: 1rem;
  grid-column: 2; 
}


@media screen and (max-width: 650px) {
  .home {
    padding-top: 1rem;
    grid-template-columns: auto; /* Changes to a single column */
  }

  .category-section {
    padding-top: 0;
    grid-column: 1; /* Places the section in the first column */
  }

  .product-section {
    grid-column: 1; /* Places the section in the first column */
  }
}
.with-line {
  border-bottom: 1px solid #ddd; /* Add a bottom border */
  padding-bottom: 8px; /* Adjust padding for spacing */
}


/* .product-card {
    height: 100%;
  }
  
  .product-image {
    max-height: 200px;
  }
  
  .product-details {
    height: 220px; 
  } */

/* .btn-primary {
    position: absolute;
    bottom: 20px; 
    left: 15px;
    right: 15px;
  }
   */

/* .product-card img.product-image {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    display: block; 
    margin: 0 auto; 
  }
   */