.product-card {
    height: 100%;
  }
  
  .product-image {
    max-height: 200px;
  }
  
  .product-details {
    height: 220px; 
  }
  
  .product-description-scroll {
    max-height: 100px;
    overflow-y: auto;
  }
  
  .scrollable-details {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .product-price {
    margin-bottom: 0;
  }
  
  .btn-primary {
    position: absolute;
    bottom: 20px; 
    left: 15px;
    right: 15px;
  }
  